<div class="row small-up-10 medium-up-10 large-up-10">
    <div class="column">
        <div class="callout">
            <h2>{{IMDB.showMovie.Title}}</h2>
            <p><img ng-src="{{IMDB.showMovie.Poster}}"></p>
            <p class="lead">Actors: {{IMDB.showMovie.Actors}}</p>
            <p class="lead">Awards: {{IMDB.showMovie.Awards}}</p>
            <p class="lead">Genre: {{IMDB.showMovie.Genre}}</p>
            <p class="subheader">Plot: {{IMDB.showMovie.Plot}}</p>
            <p class="subheader">Writer: {{IMDB.showMovie.Writer}}</p>
            <p class="subheader">Released: {{IMDB.showMovie.Released}}</p>
            <p class="lead">Tomato Rating: {{IMDB.showMovie.tomatoRating}}</p>
        </div>
    </div>
</div>
