<!DOCTYPE html>
<html lang="en" ng-app='app' ng-controller='MainController as IMDB'>
<head>
  <meta charset="UTF-8">
  <title>Movie App</title>
  <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
  <link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
  <base href="/">
</head>
<body>
  <div class="row">
      <div class="medium-12 large-12 columns">
          <div class="callout secondary">
              <form>
                  <div class="row">
                      <div class="small-6 columns">
                        <input type="text" placeholder="Please Enter a Title" ng-model='IMDB.input'>
                      </div>
                      <div class="small-3 columns">
                        <select ng-model='IMDB.type'>
                          <option value="movie" ng-selected="selected">Movie</option>
                          <option value="series">Series</option>
                          <option value="episode">Episode</option>
                        </select>
                      </div>
                      <div class="small-3 columns">
                        <a href="/#/" class="button postfix" ng-click="IMDB.moviesRequest()">Search Movies</a>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <div class="row column">
      <hr>
  </div>

  <div ng-view></div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="controller.js"></script>
</body>
</html>
