<h1>Add A New Contact</h1>
Name:
<input type="text" ng-model="Contact.name" value="henry">
email:
<input type="email" ng-model="Contact.email" value="henrybi@uw.edu">
<button class="button" ng-click="Contact.addContact(Contact.name, Contact.email)">Add Contact </button>

<br>
Find By Name:
<input type="text" ng-model="Contact.search" value="henry">

<div ng-repeat="contact in Contact.contacts | filter:Contact.search">
  name:{{contact.name}} email:{{contact.email}}
  <button ng-click="Contact.removeContact(contact.name)">Remove Contact</button>
</div>
